@import "tailwindcss";

body {
  background-color: black;
}
.mask {
  mask-image: url("../../public/rect.svg");
  mask-repeat: no-repeat;
  mask-position: 0px 50%;
  mask-size: 420px 500px;
  z-index: 20;
}

.chevrons {
  display: inline-block;
  animation: bounce-horizontal 0.5s infinite alternate;
}

/* Animation bounce horizontale */
@keyframes bounce-horizontal {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(10px);
  }
}
